@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}


/**************/


/* 0. Variáveis
/* 1. Gerais
/* 2. Container
/* 3. Header
/* 4. Main - Sunnyside About
/* 5. Main - Sunnyside Services
/* 6. Section - Testimonials
/* 7. Section - Gallery
/* 8. Footer
/**************/


/* 0. Variáveis
/**************/

:root {
    --clr-primary: hsl(7, 99%, 70%);
    --clr-secondary: hsl(51, 100%, 49%);
    --clr-neutral-1: hsl(212, 27%, 19%);
    --clr-neutral-2: hsl(213, 9%, 39%);
    --clr-neutral-3: hsl(232, 10%, 55%);
    --clr-neutral-4: hsl(210, 4%, 67%);
    --clr-neutral-5: hsl(0, 0%, 100%);
    --assets: hsl(167, 40%, 24%);
    --photo-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 55%, 56%);
    --font-header: 'Fraunces', serif;
    --font-paragraph: 'Barlow', sans-serif;
}


/**************/


/* 1. Gerais
/**************/

body {
    font-size: 18px;
    font-family: var(--font-paragraph);
    color: var(--clr-neutral-5);
}

a {
    text-decoration: none;
    color: var(--clr-neutral-5);
}


/**************/


/*2. Container
/**************/

.sunnyside-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'box1 box2' 'box3 box4' 'box5 box6';
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.sunnyside-testimonials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sunnyside__pictures {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 410px;
}

@media screen and (max-width: 600px) {
    .sunnyside__pictures {
        grid-auto-rows: 210px;
    }
}

@media screen and (max-width: 900px) {
    .sunnyside-about {
        grid-template-areas: 'box2 box2' 'box1 box1' 'box3 box3' 'box4 box4' 'box5 box5' 'box6 box6';
    }
    .sunnyside__pictures {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1800px) {
    .sunnyside__pictures {
        grid-auto-rows: 590px;
    }
}


/**************/


/* 3. Header
/**************/

.sunnyside__header {
    grid-area: header;
    background: url(/images/desktop/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.sunnyside__navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    position: relative;
}

.sunnyside__list .sunnyside__item {
    display: inline-block;
    font-size: .85rem;
    margin-right: 20px;
}

.sunnyside__item:last-child a {
    background-color: var(--clr-neutral-5);
    color: var(--clr-neutral-1);
    border-radius: 50px;
    padding: 10px 20px;
}

.sunnyside__item:last-child a:hover {
    background-color: hsla(200, 100%, 91%, 0.459);
    color: var(--clr-neutral-5);
    font-weight: 600;
}

.sunnyside__header .sunnyside__title {
    font-family: var(--font-header);
    font-size: 2.7rem;
    letter-spacing: .2cm;
    text-align: center;
    margin-top: 5%;
}

.sunnyside__header>img {
    position: absolute;
    left: 49.5%;
    bottom: 40%;
}

.sunnyside__dropdown-menu {
    display: none;
}

.sunnyside__dropdown-menu-link {
    font-size: 1.6rem;
    opacity: .6;
    display: none;
}

.sunnyside__dropdown-menu a:hover {
    opacity: 1;
}

.sunnyside__hidden-menu {
    text-align: center;
    background-color: var(--clr-neutral-5);
    width: 400px;
    height: 370px;
    padding: 4rem 0;
    position: absolute;
    right: 10%;
    top: 70%;
    z-index: 10;
    border-radius: 20px 0 20px 20px;
    box-shadow: 0 1px 4px 2px #9799997a;
    display: none;
}

.sunnyside-hidden-menu__list li+li {
    margin: 45px 0;
}

.sunnyside-hidden-menu__list .sunnyside-hidden-menu__link {
    color: var(--clr-neutral-1);
    font-size: 1.5rem;
}

.sunnyside-hidden-menu__link--active {
    color: black;
    background-color: var(--clr-secondary);
    padding: 20px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.sunnyside-hidden-menu__link:hover,
.sunnyside-hidden-menulink:hover {
    border-bottom: 3px solid var(--clr-secondary);
}

@media screen and (max-width: 900px) {
    .sunnyside__header {
        grid-area: header;
        background: url(/images/mobile/image-header.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 620px;
        position: relative;
    }
    .sunnyside__header .sunnyside__title {
        margin-top: 15%;
        font-size: 3rem;
    }
    .sunnyside__list {
        display: none;
    }
    .sunnyside__header>img {
        position: absolute;
        left: 49.5%;
        bottom: 25%;
    }
    .sunnyside__dropdown-menu-link {
        display: inline-block;
    }
}

@media screen and (min-width: 1800px) {
    .sunnyside__header {
        height: 800px;
    }
    .sunnyside__header .sunnyside__title {
        font-size: 3.6rem;
        margin-top: 5%;
    }
}


/**************/


/* 4. Main - Sunnyside About
/**************/

.sunnyside__text {
    padding: 10rem 8rem;
}

.sunnyside__text>.sunnyside__text-title,
.sunnyside__text>.sunnyside__text-link {
    color: var(--clr-neutral-1);
    font-family: var(--font-header);
}

.sunnyside__text>.sunnyside__text-title {
    font-size: 2rem;
    font-weight: 900;
}

.sunnyside__text>.sunnyside__text-paragraph {
    color: var(--clr-neutral-2);
    font-size: 1rem;
    line-height: .7cm;
    margin: 2rem 0 3rem 0;
}

.sunnyside__text>.sunnyside__text-link {
    position: relative;
}

.sunnyside__text>.sunnyside__text-link .is-yellow,
.sunnyside__text>.sunnyside__text-link .is-pink {
    position: absolute;
    background-color: hsla(51, 83%, 68%, 0.637);
    border-radius: 16px;
    padding: 5px 65px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sunnyside__text>.sunnyside__text-link:hover .is-yellow {
    background-color: var(--clr-secondary);
}

.sunnyside__text>.sunnyside__text-link .is-pink {
    background-color: hsla(7, 70%, 78%, 0.788);
}

.sunnyside__text>.sunnyside__text-link:hover .is-pink {
    background-color: var(--clr-primary);
}

.box2 img,
.box3 img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .sunnyside__text {
        padding: 50px 100px;
        text-align: center;
    }
     .box1 .sunnyside__text {
        padding-top: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .sunnyside__text {
        padding: 300px 100px;
        text-align: center;
    }
    .box1 .sunnyside__text {
        padding-top: 250px;
    }
}


/**************/


/* 5. Main - Sunnyside Services
/**************/

.box5 {
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box6 {
    background-image: url(/images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box5,
.box6 {
    text-align: center;
}

.box5>.sunnyside__text,
.box6>.sunnyside__text {
    padding: 22rem 10rem 0 10rem;
}

@media screen and (max-width: 600px) {
    .box5 {
        background-image: url(/images/mobile/image-graphic-design.jpg);
    }
    .box6 {
        background-image: url(/images/mobile/image-photography.jpg);
    }
    .box5>.sunnyside__text,
    .box6>.sunnyside__text {
        padding: 30rem 2rem 0 2rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .box5 {
        background-image: url(/images/mobile/image-graphic-design.jpg);
        
    }
    .box6 {
        background-image: url(/images/mobile/image-photography.jpg);
    }
    .box5>.sunnyside__text,
    .box6>.sunnyside__text {
        padding: 50rem 2rem 0 2rem;
    }
}

@media screen and (min-width: 1800px) {
    .box5>.sunnyside__text,
    .box6>.sunnyside__text {
        padding: 27rem 2rem 0 2rem;
    }
}

/**************/


/* 6. Section - Testimonials
/**************/

.sunnyside__testimonials {
    margin: 9rem 0;
}

.sunnyside__testimonials .sunnyside-testimonials__title {
    color: var(--clr-neutral-3);
    font-family: var(--font-header);
    text-align: center;
    letter-spacing: .2cm;
    margin-bottom: 5%;
}

.sunnyside-testimonials__box {
    width: 380px;
    text-align: center;
    color: var(--clr-neutral-1);
    font-size: 1rem;
}

.sunnyside-testimonials__box img {
    border-radius: 100px;
    width: 64px;
}

.sunnyside-testimonials__box .sunnyside-testimonials__paragraph {
    margin: 35px;
    line-height: .7cm;
}

.sunnyside-testimonials__box .sunnyside-testimonials__footer {
    font-family: var(--font-header);
}

.sunnyside-testimonials__footer span {
    font-family: var(--font-paragraph);
    font-size: .85rem;
    color: var(--clr-neutral-3);
}

@media screen and (max-width: 900px) {
    .sunnyside__testimonials {
        margin-top: 7rem;
    }
    .sunnyside__testimonials .sunnyside-testimonials__title {
        margin-bottom: 0;
    }
    .sunnyside-testimonials__box {
        margin-top: 5rem;
    }
}


/**************/


/* 7. Section - Gallery
/**************/

.sunnyside__gallery img {
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .sunnyside__gallery img {
        max-height: 50%;
        min-height: 50%;
    }
}

/* 8. Foooter
/**************/

.sunnyside__footer {
    background-color: var(--footer);
    text-align: center;
    padding: 70px 0 50px 0;
}

.sunnyside__footer svg {
    fill: var(--assets);
    margin-bottom: 3%;
}

.sunnyside__footer a {
    color: var(--assets);
}

.sunnyside__footer a:hover {
    color: var(--clr-neutral-5);
}

.sunnyside__footer li {
    display: inline-block;
}

.sunnyside-footer__list li {
    padding: 0 30px;
}

.sunnyside-footer__list-icons li {
    margin-top: 5%;
    padding: 0 10px;
}

.sunnyside-footer__list-icons svg:hover {
    fill: var(--clr-neutral-5);
}

@media screen and (max-width: 900px) {
    .sunnyside-footer__list li {
        padding: 20px 25px 50px 25px;
    }
}


/**************/
